# 依赖
**/node_modules

# 产物
**/build
**/eggie_kv_server
**/eggie_kv_client

# 生成的代码
**/.docusaurus
.cache-loader

# 杂项
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
**/benchmark
**/test_data
**/*.out

npm-debug.log*
yarn-debug.log*
yarn-error.log*
